pkgbase = chitubox-free-bin
	pkgdesc = CHITUBOX Basic - All-in-one SLA/DLP/LCD Slicer
	pkgver = 2.0.0
	pkgrel = 1
	url = https://www.chitubox.com/download.html
	arch = x86_64
	license = Commercial
	makedepends = icoutils
	options = !strip
	source = chitubox-free-bin-2.0.0.tar.gz::https://sac.chitubox.com/software/download.do?softwareId=17839&softwareVersionId=v2.0.0&fileName=CHITUBOX_V2.0.0.tar.gz
	source = local://chitubox-free.desktop
	source = local://chitubox-free.xml
	sha256sums = 0231fd7183342c6ca5395bd738935bb10abb46c1704e2b13aaf3f73ca9ce7b75
	sha256sums = 376b2b3805788b856b61c77760a736f57d40cc28de6a1b0266efb3e25dea6942
	sha256sums = 8bd846e6e12e293c8fe9a9c78e59658397dd078e1d697d72cda339ccd6ba06b2

pkgname = chitubox-free-bin
